#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>

/ {
    chosen {
        zmk,kscan = &default_kscan;
        zmk,physical-layout = &physical_layout0;
    };

    default_kscan: kscan {
        compatible = "zmk,kscan-gpio-direct";
        label = "default_kscan";

        input-gpios =
            <&xiao_d 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,  // 表面 左キー
            <&xiao_d 9  (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,  // 表面 中央キー
            <&xiao_d 8  (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,  // 表面 右キー
            <&xiao_d 1  (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,  // 裏面 上スイッチ
            <&xiao_d 2  (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,  // 裏面 中央スイッチ
            <&xiao_d 3  (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;  // 裏面 下スイッチ
    };

    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Nape Physical Layout";
        kscan = <&default_kscan>;
        transform = <&default_transform>;

        keys = 
            <&key_physical_attrs 100 100   0    100   0 0 0>,  // 表面 左キー (1U)
            <&key_physical_attrs 100 100 200    100   0 0 0>,  // 表面 中央キー (1U)
            <&key_physical_attrs 100 100 300    100   0 0 0>,  // 表面 右キー (1U)
            <&key_physical_attrs 100 100   100  300   0 0 0>,  // 裏面 上スイッチ (1U)
            <&key_physical_attrs 100 100   100  400   0 0 0>,  // 裏面 中央スイッチ (1U)
            <&key_physical_attrs 100 100   100  500   0 0 0>;  // 裏面 下スイッチ (1U)
    };

    default_transform: keymap_transform0 {
        compatible = "zmk,matrix-transform";
        rows = <1>;
        columns = <6>;
        map = <
            RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5)
        >;
    };

    trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;
        scroller {
            layers = <10>;
            input-processors = <&zip_xy_to_scroll_mapper>;
        };
    };
};

&pinctrl {
    spi0_default: spi0_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 5)>,  // SCLK
                   <NRF_PSEL(SPIM_MOSI, 0, 4)>,  // SDIO
                   <NRF_PSEL(SPIM_MISO, 0, 4)>;  // SDIO
        };
    };

    spi0_sleep: spi0_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 5)>,  // SCLK
                   <NRF_PSEL(SPIM_MOSI, 0, 4)>,  // SDIO
                   <NRF_PSEL(SPIM_MISO, 0, 4)>;  // SDIO
            low-power-enable;
        };
    };
};

&xiao_serial { status = "disabled"; };

&spi0 {
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi0_default>;
    pinctrl-1 = <&spi0_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 9 GPIO_ACTIVE_LOW>;

    trackball: trackball@0 {
        status = "okay";
        compatible = "pixart,pmw3610";
        reg = <0>;
        spi-max-frequency = <2000000>;
        irq-gpios = <&xiao_d 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;

        scroll-layers = <10>;
    };
};